
body {

    background-color: pink; /* pradinė spalva */


    padding-top: 70px;
}

.main {
    background-image: url('/images/Collage 2023-03-08 20_47_27-compressed.jpg');
    /*background-image: url('https://github.com/PaulinaStan/darbas_su_laravel/blob/main/laravel_failai/Collage%202023-03-06%2020_35_13.jpg?raw=true');*/
}

.kategorija
{
        background-color: #ffccd5;
}

.krepselis {
    background-color: #adb9f3;
}

.uzsakymas
{
    background-color: #ffccd5;
}
.uzsakyti
{
    background-color: #ffccd5;
}
.kategorijos
{
    background-color: #adb9f3;
}
.produktai
{
    background-color:#ffccd5;
}
.uzsakymai
{
    background-color: #adb9f3;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table {

    text-align: left;
    padding: 10px;
}

div.thumbnail img {
    max-height: 200px;
}


/* Animacijos stiliai */
@keyframes color-change {
    0% {
        background-color: pink; /* pradinė spalva */
    }
    50% {
        background-color: purple; /* tarpinė spalva */
    }
    100% {
        background-color: blue; /* galutinė spalva */
    }
}

.btn {
    background-color: #b7c8fc;
    color: #f802e4;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

div.form-inline form {
    display: inline;
}
