
/*<!-- rotating an icon -->*/
/*<i class="fa-solid fa-bomb fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>*/

/*<!-- using inline styles to define duotone icon custom properties -->*/
/*<i class="fa-duotone fa-crow" style="--fa-primary-color: dodgerblue; --fa-secondary-color: gold;" ></i>*/

body {
    padding-top: 40px;
}

.main
{
    background-color:  #ffccd5;
}

.kategorija
{
        background-color: #ffccd5;
}

.krepselis {
    background-color: #adb9f3;
}

.uzsakymas
{
    background-color: #ffccd5;
}
.uzsakyti
{
    background-color: #ffccd5;
}
.kategorijos
{
    background-color: #adb9f3;
}
.produktai
{
    background-color:#ffccd5;
}
.uzsakymai
{
    background-color: #adb9f3;
}
.categoriesfoto
{
   padding-top: 12px;
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.login
{
    background-color: #adb9f3;
}



.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {

    text-align: left;
    padding: 10px;
}

div.thumbnail img {
    max-height: 200px;
}



.btn {
    background-color: #b7c8fc;
    color: #f802e4;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}
